# Your Twitter/X login credentials (no API key needed)
TWITTER_USERNAME=HariomCreates
TWITTER_PASSWORD=9911209851@aA
TWITTER_EMAIL=edwardyash2397@gmail.com
TWITTER_EMAIL_PASSWORD=xgrooisgecesuucd
# Telegram bot token from @BotFather
TELEGRAM_BOT_TOKEN=8738465871:AAFJPIwE4wIPS8Aom3Z1kkQgKzac5nBNoY8